* {
  padding: 0;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
}
body {
  background-color: #f5f5f5;
}

.container {
  max-width: 1350px;
  margin: auto;
}
.my-btn {
  border-radius: 8px;
  padding: 8px;
  font-weight: 600;
  border: 1px solid #006a50;
  color: #006a50;
  background-color: white;
}
.my-btn-2 {
  border-radius: 8px;
  font-weight: 600;
  background: rgba(0, 106, 80, 1);
  color: white;
  padding: 12px 25px;
  max-width: max-content;
}


header {
  background: rgba(198, 228, 214, 1);

  margin-bottom: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.link-parent {
  display: flex;
  gap: 22px;
  list-style: none;
}
.link-parent a {
  text-decoration: none;
}

.hero-parent {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  background-image: linear-gradient(
      180deg,
      rgb(42, 42, 42, 0.5),
      rgba(188, 179, 179, 0.4)
    ),
    url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f?auto=format&fit=crop&w=1400");
  background-position: center;
  background-size: cover;
  border-radius: 24px;
  align-items: center;
  padding: 70px;
  margin: 20px auto;
}
.hero-parent h2 {
  color: rgba(14, 14, 14, 0.5);
  font-size: 25px;
  font-weight: 500;
}
.hero-parent p {
  font-weight: 700;
  font-size: 56px;
  color: rgba(14, 14, 14, 1);
  margin: 20px 0;
}

.pillars-of-banglabesh-parent {
  margin: 80px auto;
}
.pillar-section-title {
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 23px;
}
.pillar-card-parent {
  display: flex;
  gap: 15px;

}
.margin {
  margin-bottom: 23px;
  color: rgb(111, 108, 108);
}
.grid {
  display: flex;
  gap: 40px;
}
.div1 {
background-color: rgb(205, 231, 239);
}
.div2 {
  background-color: rgb(199, 237, 199);
}
.div3 {
  background-color: rgb(242, 226, 203);
  border-radius: 12px;
  
}
.button {
  margin-top: 10px;
  background-color: #5490F5;
  color: white;
  border: none;
  padding: 10px ;
  border-radius: 8px;
  
}
.button1 {
  margin-top: 10px;
  background-color: #5490F5;
  color: white;
  border: none;
  padding: 10px ;
  border-radius: 8px;
}
.button2 {
    margin-top: 10px;
  background-color: #5490F5;
  color: white;
  border: none;
  padding: 10px ;
  border-radius: 8px;
}
.card {
  border-radius: 12px;
  padding: 28px;
 
 
}
.card-had {
 margin-top: 12px;
 margin-bottom: 12px;
}
.color {
  color: rgb(102, 99, 99);
}
.pillar-card {
  background-color: white;
  border-radius: 12px;
  padding: 12px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}
.pillar-card img {
  width: 80px;
  height: 80px;
}
.pillar-card p {
  color: rgba(14, 14, 14, 0.7);
}

.quote-section-parent {
  margin: 50px auto;
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.quote-icon {
  font-size: 65px;
  position: absolute;
  left: 0;
  top: 0;
  color: rgba(14, 14, 14, 0.8);
  opacity: 0.8;
  z-index: 0;
}
.quote-section-parent p {
  color: rgba(14, 14, 14, 0.8);
}
.quote-section-parent h2 {
  font-weight: 700;
  font-size: 35px;
  margin-top: 10px;
}
.recent-news-header {
  margin-bottom: 15px;
}
.recent-news-section h2 {
  font-weight: 800;
  font-size: 45px;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 8px;
}
.recent-news-section p {
  color: rgba(14, 14, 14, 0.7);
}

.recent-news-card {
  display: flex;
  gap: 25px;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 22px;
}
.recent-news-card:nth-child(2) {
  flex-direction: row-reverse;
}
.recent-news-card .satelite-img {
  border-radius: 15px;
  width: 408px;
  height: 306px;
}
.recent-news-info-parent {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.recent-news-info-parent .al-jazeera {
  width: 134px;
  height: 40px;
}